@charset "UTF-8";
/* ----共用區---- */
img{
    display: block;
    width: 100%;
}
ul{
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

/* 換圖輪播 */
.carousel-inner{
    height: calc(100vh - 70px);
    /* 不同單位換算加減 */
}

/* navbar*/
.navbar{
    height: 70px;
}
.navbar-brand{
    width: 150px;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
  color:  #0152B9;
}
/* .btn{
    width: 9rem;
    font-size: 1rem;
} */
.navbar-toggler {
    border: none;
}
.navbar-toggler :focus{
   box-shadow: none;
}

#search_form{
    position: relative;
}
.search_btn{
    /* 取消button預設的樣式 */
    background-color: transparent;
    border: none;

    /* 自定義區 */
    width: 35px;
    height: 35px;
    /* 絕對定位 */
    position: absolute;
    top: 0;
    right: 0;
}
.icon{
    display: flex;
    width: 120px;
    margin-left: 20px;
}

.icon li{
   margin: 0 5;
}

/* main */
#food{
    display: flex; 
}
.food_pt{ 
  flex: 1;
  background-image: url('../images/bg_s.jpg');
  background-size: 100% 100%;

  position: relative;
}
.food_pt figure{
    position: absolute;
}
#food_1{
    width: 320px;
    top: 60px;
    right: -60px;
    animation: food_1 3s;
}
@keyframes food_1{
    from { top: 60px;  right: 1000px}
    to{ top: 60px;  right: -60px;}
}
#food_2{
    width: 220px;
    top: 30px;
    left: 15px;
    animation: food_2 3s;
}
@keyframes food_2{
    from {top: 30px;  left: -250px;}
    to{ top: 30px;  left: 15px;}
}
.food_text{ 
    margin: 50px 50px;
    flex: 1;
  }

.food_text h2{
    position: relative;
    display: inline-block; 
    /* display:block會滿版 => inline-block/inline-flex 變成跟字一樣長的寬度*/
}

.food_text h2::before{
      content: "";
      display: block; /* 一定要加才會出現東西 */
      width: 16px;
      height: 16px;
      border-radius: 8px;
      background-color: #0152B9;

      position: absolute;
      top: -8px;
      left: -23px; 
  }
  .food_text h2::after{
    content: "";
    display: block; /* 一定要加才會出現東西 */
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #0152B9;

    position: absolute;
    bottom: -1px;
    left: 125px; 
}


/* footer */
footer{
    background-color: #f9d615;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color:  #0152B9;
}