@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');   
/* 注意! google fonts 要放在第二行 */



/*eric css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: /*⻄文*/ -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    /*中文*/ "蘋方-繁", "PingFang TC", "Noto Sans TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 共用 */
img {
    display: block; /*本來是inline-block,會有空白間距*/
    width: 100%;
}
/* 頁首區 */
#topbar{
	display: flex; /*flex有預設的各種屬性，包括水平*/
	justify-content: space-between; /*space-between(貼齊start/end)*/
	padding: 20px;
}
#topbar ul{
	display: flex;
	justify-content: flex-end; /*主軸的方向齊尾*/
}



.logo {
    width: 80px;
}
.icon a {
	display: block;
	width: 35px;
	height: 35px;
}
.icon-fb {
	background-image: url(../images/icon-fb.svg);
}
.icon-ig {
	background-image: url(../images/icon-ig.svg);
}
.icon-line {
	background-image: url(../images/icon-line.svg);
}
.icon-fb:hover {
	background-image: url(../images/icon-fb-hover.svg);
}
.icon-ig:hover {
	background-image: url(../images/icon-ig-hover.svg);
}
.icon-line:hover {
	background-image: url(../images/icon-line-hover.svg);
}
.menu a {
	display: block;
	text-decoration: none;
    color: gray; /*修改<a>的字色*/
	padding:8px 20px;
}

.menu a:hover {
	display: block;
	text-decoration: none;
    color: rgb(26, 166, 217); 
	padding:10px 20px;
}

/*偽元素 ::after/::before 只放裝飾內容*/
.menu li::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: rgb(57, 166, 144);
    
}

.menu li:hover::after {
    width: 100%;
	transition: .35s ease-in-out; /* 轉場動畫 */
}
/* 主要內容共用 */

main > * {       /* 取得<main>第一層所有元素 */
    height: 100vh;
}
section{
	display: flex;       /*預設值:主軸為水平*/
    flex-direction: column;   /*設定主軸改為垂直*/
	justify-content: center;   /*設定主軸(垂直)置中*/
	align-items: center;   /*設定副軸(水平)置中*/
}
.title {
	font-family: 'Charm', cursive;
	font-size: 3rem;
	padding-top: 15px;
	border-top: 2px solid grey;  /*設定一條線~*/
}
/* news區  */
#news{
	background-color: #f2edf0;
}
/* service區 */
#service{
	background-color: #e6ece5;
}
/* video區 */
#video{
	background-color: #ecf0f4;
}
/* About區 */

/* contact區 */
#contact{
	background-image: url('../images/bg_contact.jpg');
	background-size: cover; /*覆蓋:自動拉伸圖片 並裁切多餘部分*/
	background-position: center;/*圖片在畫面置中縮放 (本來只切右邊)*/
	background-attachment: fixed;
}	
#message_form{
	width: 35%;
}
#message_form > *{
    display: block;
	width: 100%;
}
#message_form label{
   margin: 30px 0 10px;
}

#message_form small{
	margin-top: 30px;
	text-align: center;
	font-size: .8rem;
 }


/* footer區 */
footer{
	background-color: #f2edf0;
	padding: 50px;  /*  內距包含背景色 */
	text-align: center; 
}