@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');  
@font-face {
	font-family: 'KasseFLFBold'; /*自定義這個字體的名稱*/
	src: url('../webfonts/KasseFLF-Bold.ttf');
} 
/* 注意! google fonts 要放在第二行 */



/*eric css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;  /*不累加邊框與內距 rwd 甜甜*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* 捲軸滑動效果 
html,body{
	scroll-behavior: smooth;
}
*/
body {
	line-height: 1;
    font-family: /*⻄文*/ -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    /*中文*/ "蘋方-繁", "PingFang TC", "Noto Sans TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 共用 */
img {
    display: block; /*本來是inline-block,會有空白間距*/
    width: 100%;
}
/* 頁首區 */
#topbar{
	position: fixed;  /*固定在上方*/
	top: 0;
	left: 0;
	width: 100%; /*只要寫position寬度就會變成內容寬度 所以要再補上*/
	
	display: flex; /*flex有預設的各種屬性，包括水平*/
	justify-content: space-between; /*space-between(貼齊start/end)*/
	padding: 20px;
	z-index: 100;
}

#topbar ul{
	display: flex;
	justify-content: flex-end; /*主軸的方向齊尾*/
}



.logo {
    width: 80px;
}
.icon a {
	display: block;
	width: 35px;
	height: 35px;
	margin: 0 5px;
}
.icon-fb {
	background-image: url(../images/icon-fb.svg);
}
.icon-ig {
	background-image: url(../images/icon-ig.svg);
}
.icon-line {
	background-image: url(../images/icon-line.svg);
}
.icon-fb:hover {
	background-image: url(../images/icon-fb-hover.svg);
}
.icon-ig:hover {
	background-image: url(../images/icon-ig-hover.svg);
}
.icon-line:hover {
	background-image: url(../images/icon-line-hover.svg);
}


.menu{
	padding: 5px 15px;
	margin-top: 15px;
	border-radius: 50px;
	/*玻璃擬態(毛玻璃)*/
	backdrop-filter: blur(12px); /*背景模糊濾鏡 (要再搭配透明度)*/
	background-color: rgba(241, 230, 229, 0.2);  /*顏色的最後一項是透明度*/
	border:2px solid rgba(255, 255, 255,0.1); /*改變input邊框的預設樣式*/
	/*寫了兩個不同方位的陰影*/
	box-shadow: inset -1px -1px 1px rgba(255, 255, 255,0.5), 1px 1px 5px rgba(2, 2, 2,0.2);
}

.menu a {
	display: block;
	text-decoration: none;
    color: gray; /*修改<a>的字色*/
	padding:8px 20px;
}

.menu a:hover {
	display: block;
	text-decoration: none;
    color: rgb(26, 166, 217); 
	padding:8px 20px;
}

/*偽元素 ::after/::before 只放裝飾內容*/
.menu li::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: rgb(57, 166, 144);
    
}

.menu li:hover::after {
    width: 100%;
	transition: .35s ease-in-out; /* 轉場動畫 */
}
@media(min-width: 577px){/* min-width才不會在桌機版出現漢堡按鈕 */
	.hamburger{
		display: none;
	}
}

@media(max-width: 576px){
	#topbar ul{
		justify-content: center; 
	}
	.icon a {
		margin: 0 3px;
	}
	.menu{
		flex-direction: column;
		align-items: center;
		/* 取消玻璃擬態效果 */
		background-color: transparent;
		backdrop-filter:none;
		border: none;
		box-shadow: none;
	}
	.menu a{
		color: #3c393b;
		padding: 15px 10px;
	}

	/* 漢堡按鈕  */
.nav_box {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
  }
  /* .navigation {
	display: flex;
	justify-content: space-between;
  } */
  .hamburger {
	/*inline-block未設寬高時，根據內容物(.bar)自動抓尺寸 */
	display: inline-block;
	cursor: pointer;
	/*取消button的預設樣式 */
	background-color: transparent;  
	border: none;
	padding: 0;
  }
  
  .bar {
	/* span本是行內元素(無法更改尺寸)，所以改為display: block;*/
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	background-color: #333;
	transition: all 0.3s ease-in-out;
  }
  
  .hamburger.is-active .bar:nth-child(2) {
	opacity: 0;
  }
  
  .hamburger.is-active .bar:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger.is-active .bar:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
  }
  
  .navigation {
	padding: 20px;
	display: none;
	position: absolute;
	border-radius: 5px;
	top: 30px;
	right: 0;
	/*玻璃擬態(毛玻璃)*/
	backdrop-filter: blur(12px); /*背景模糊濾鏡 (要再搭配透明度)*/
	background-color: rgba(241, 230, 229, 0.2);  /*顏色的最後一項是透明度*/
	border:2px solid rgba(255, 255, 255,0.1); /*改變input邊框的預設樣式*/
	box-shadow: inset -1px -1px 1px rgba(255, 255, 255,0.5), 1px 1px 5px rgba(2, 2, 2,0.2);
	
	animation: navigation 0.35s both;
  }
  
  @keyframes navigation {
	from {
	  opacity: 1;
	}
  
	to {
	  opacity: 0;
	}
  }
  
  .navigation.show {
	display: block;
	animation: show 0.35s both;
  }
  
  @keyframes show {
	from {
	  opacity: 0;
	}
  
	to {
	  opacity: 1;
	}
  }
  
}


/* 主要內容共用 */

main > * {       /* 取得<main>第一層所有元素 */
    height: 100vh;
}
section{
	display: flex;       /*預設值:主軸為水平*/
    flex-direction: column;   /*設定主軸改為垂直*/
	justify-content: center;   /*設定主軸(垂直)置中*/
	align-items: center;   /*設定副軸(水平)置中*/
}
.title {
	font-family: 'Charm', cursive;
	font-size: 3rem;
	padding-top: 15px;
	border-top: 2px solid grey;  /*設定一條線~*/
}

.list_box{
	display: flex;
	width: 80%;
	margin-top: 30px;
}

.list_item{
	margin: 0 15px;
	flex: 1;
	border-radius: 20px 20px 0 0;
	box-shadow:2px 2px 5px rgba(0, 0, 0, 0.15);
	overflow: hidden; /*內容溢出時，自動隱藏*/
}

.list_item div{
	padding: 20px;
}

.list_item h2{
	font-family: 'KasseFLFBold', sans-serif;
}


/* news區  */
#news{
	background-color: #f2edf0;
}
#news figure{
	height: 50vh;
}

#news img{
	object-fit: cover; /*覆蓋且自動置中*/
	height: 100%;
}

#news p{
	margin: 15px 0;
	font-size: 1.1rem;
	line-height: 1.4rem; /*行距*/
	text-align: justify; /*!!!!!齊行的意思*/

	/*以下幾行為 多行省略的寫法*/
	overflow: hidden;
	text-overflow: ellipsis;  /*文字超過時出現省略號*/
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;   /*行數*/
}

#news a{
	display: block;
	text-align: right;
	color: #3c393b;
	text-decoration: none;
}

#news a:hover{
	color: #864c72;
	text-decoration: underline;
}
@media (max-width:992px){ /* 平板的rwd */
	#news .list_item:last-child{ 
		/* 藏起來最後一個物件 */
		display: none;
	}
}
@media (max-width:576px){/* 手機的rwd */
	#news .list_item:nth-child(n+2){ 
		/* 藏起來第2個之後的物件(包括第二個) */
		display: none;
    }
}


/* service區 */
#service{
	background-color: #e6ece5;
}

#service .list_box{
	height: 60vh;
}

#service .list_item{
	display: flex;
	align-items: flex-end;
	background-size: cover;
	background-position: center;
}

#service p{
	/* 單行省略 */
	margin-top: .6rem;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#service a{
	display: block; /*從行內轉為block時 才抓得到寬度*/
	width: 100%;
	padding: 15px;
	background-color:rgba(0, 0, 0, 0.4);

    /* 修改超連結樣式 */
	color: #fff;
	text-decoration: none;
}

#service p:hover{
    text-decoration: underline;
}

.service_1{
	background-image: url('../images/pt_svc1.jpg');
}
.service_2{
	background-image: url('../images/pt_svc2.jpg');
}
.service_3{
	background-image: url('../images/pt_svc3.jpg');
}
.service_4{
	background-image: url('../images/pt_svc4.jpg');
}
@media (max-width:992px){
	#service .list_box{
		flex-direction: column;
		height: 70vh;
	}
	#service .list_item{
		margin: 2vh 0;
	}
	#service .list_item:nth-child(n+3){
		display: none;
	}
}
@media (max-width:576px){
	#service .list_item:nth-child(n+2){
		display: none;
	}
}


/* video區 */
#video{
	background-color: #ecf0f4;
}

#video video{
	height: 70vh;
	margin-top: 30px;
}

@media (max-width:992px) { /* rwd  992px以下都套用*/
	#video{
		height: auto;
		padding: 5vh 0;
	}
	#video video{
		width: 85%;
		height: auto; /* 用auto會自動根據寬度覆蓋前面的height */
		
	}
}

/* About區 */
#about{
	position: relative; /*設定position，video會認他為爸(relative沒有座標位置 會正常排列*/
}

#about video{
	position: absolute;/*會往上找已設定的position父層去開始定位*/
	top: 0;
	left: 0;
	z-index: -1;
	/*(影片)物件的rwd填滿*/
	object-fit: cover;
	width: 100%;
	height: 100%;

	/* 影片濾鏡效果 */
	filter: brightness(80%) sepia(10%) opacity(0.5);
	background-color: #d2b4b4;
	 /*100%是原始亮度   sepia棕褐色調*/
}

#about div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: 100vh;
	padding: 0 50px;
	background-color: rgba(222, 197, 212, 0.5);
	backdrop-filter: blur(5px);
	
}
#about p.scrollbox{   /*#about裡面有個p 取名class="scrollbox"    (p可略=> #about .scrollbox)*/
	margin-top: 15px;
	height: 70vh;
	overflow: auto; /*超過會給卷軸*/
    padding: 0 30px;
}

/* 卷軸樣式修改 */
.scrollbox::-webkit-scrollbar {
	width: 10px;
	background: #eee;
  }

/* .scrollbox::-webkit-scrollbar:horizontal {
	height: 10px;
  }    
  水平卷軸的控製，在此我不需要*/
  
  .scrollbox::-webkit-scrollbar-button {
	width: 10px;
	height: 10px;
	background: #745454;
  }
  
  .scrollbox::-webkit-scrollbar-thumb {
	background: #b6a2a2;
  }
  
  /* .scrollbox::-webkit-scrollbar-corner {
	background: #ddd;
  } 
  我沒有右下的角 */
  
  @media (max-width:992px){
	#about div{
		width: 85%;
	}
	#about p{
		font-size: 1.1rem;
		line-height: 1.5rem;
	}
}
	  
	@media (max-width:576px){
		#about div{
			padding: 0 20px;
		}

}

/* contact區 */
#contact{
	background-image: url('../images/bg_contact.jpg');
	background-size: cover; /*覆蓋:自動拉伸圖片 並裁切多餘部分*/
	background-position: center;/*圖片在畫面置中縮放 (本來只切右邊)*/
	background-attachment: fixed; /*固定背景*/
}	
#message_form{
	width: 35%;
}
  
@media (max-width:992px){
	#message_form{
		width: 70%;
	}
	#message_form label{
		margin: 30px 0 10px;
	}
	#message_form input,
	#message_form textarea{
      padding: 20px 25px;
   }
   ::placeholder{
	font-size: 1rem;
   }
   #message_form button{
	margin: 30px auto;
   }
}

@media (max-width:576px){
	#message_form{
		width: 65%;
	}
	#message_form label{
		margin: 30px 0 10px;
	}
	#message_form input,
	#message_form textarea{
      padding: 10px 15px;
   }
   ::placeholder{
	font-size: 1rem;
   }
   #message_form button{
	margin: 20px auto;
   }
}
#message_form > *{
    display: block;
	width: 100%;
	box-sizing: border-box; /*最上面有設定了，但表單不包括 所以要另外加入*/
	
}

::placeholder{
	font-size: .8rem;
	color: rgb(87, 87, 87);
}

#message_form input,#message_form textarea{
	padding: 10px 15px;
	/*玻璃擬態(毛玻璃)*/
	backdrop-filter: blur(12px); /*背景模糊濾鏡 (要再搭配透明度)*/
	background-color: rgba(241, 230, 229, 0.2);  /*顏色的最後一項是透明度*/
	border:2px solid rgba(255, 255, 255,0.1); /*改變input邊框的預設樣式*/
	/*寫了兩個不同方位的陰影*/
	box-shadow: inset -1px -1px 1px rgba(255, 255, 255,0.5), 1px 1px 5px rgba(2, 2, 2,0.2);
}

#message_form input{
	font-size: .85rem;
	color: rgb(154, 106, 106);
	border-radius: 100px;
	
}

#message_form textarea {
	height: 4.25rem; /*對應字級高度(0.85*想要(5)行)*/
	border-radius: 10px;
}

#message_form label{
   margin: 30px 0 10px;
   font-size: .85rem;
   letter-spacing: .1rem;
   color: rgb(117, 98, 121);
}

#contact small{
	color: rgb(87, 87, 87);
	margin-top: 30px;
	font-size: .8rem;
	text-align: center;
 }


 /*css套件_老師提供的codepen*/
 #message_form button {
	/* position: relative; */
	outline: none;
	/* text-decoration: none; */
	border-radius: 50px;
	display: flex; /*必須是flex才能分開滑動*/
	justify-content: center;
	align-items: center; 
	cursor: pointer;   /*游標樣式: 手型*/
	/* text-transform: uppercase; */
	height: 60px;
	width: 50%;
	margin: 30px auto;
	/* opacity: 1; 
	background-color: #ffffff;
	border: 1px solid rgba(22, 76, 167, 0.6);*/
	/*玻璃擬態(毛玻璃)*/
    backdrop-filter: blur(12px); /*背景模糊濾鏡 (要再搭配透明度)*/
	background-color: rgba(241, 230, 229, 0.2);  /*顏色的最後一項是透明度*/
	border:2px solid rgba(255, 255, 255,0.1); /*改變input邊框的預設樣式*/
	/*寫了兩個不同方位的陰影*/
	box-shadow: inset -1px -1px 1px rgba(255, 255, 255,0.5), 1px 1px 5px rgba(2, 2, 2,0.2);

  }
  button span {
	color: #494949;
	font-size: 1rem;
	/* font-weight: 500; */
	letter-spacing: 0.7px;
  }
  button:hover {
	animation: rotate 0.7s ease-in-out both;
  }
  button:hover span {
	animation: storm 0.7s ease-in-out both;
	animation-delay: 0.06s;
  }
  
  @keyframes rotate {
	0% {
	  transform: rotate(0deg) translate3d(0, 0, 0);
	}
	25% {
	  transform: rotate(3deg) translate3d(0, 0, 0);
	}
	50% {
	  transform: rotate(-3deg) translate3d(0, 0, 0);
	}
	75% {
	  transform: rotate(1deg) translate3d(0, 0, 0);
	}
	100% {
	  transform: rotate(0deg) translate3d(0, 0, 0);
	}
  }
  @keyframes storm {
	0% {
	  transform: translate3d(0, 0, 0) translateZ(0);
	}
	25% {
	  transform: translate3d(4px, 0, 0) translateZ(0);
	}
	50% {
	  transform: translate3d(-3px, 0, 0) translateZ(0);
	}
	75% {
	  transform: translate3d(2px, 0, 0) translateZ(0);
	}
	100% {
	  transform: translate3d(0, 0, 0) translateZ(0);
	}
  }

 

/* footer區 */
footer{
	background-color: #f2edf0;
	padding: 50px;  /*  內距包含背景色 */
	text-align: center; 
}
#gotop{
	position: fixed;
	cursor: pointer; /* 手型 */ 
	
	right: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	z-index: 999;
	background-color: rgba(182, 162, 162, .5);
	border-radius: 25px;

	color: #fff;
	font-size: 2.2rem;
	line-height: 50px;
	text-align: center;

	display: none;
}