.phone
  .screen
    .page-frame
      .page.gallery 
        .item-list
      .page.shoppinglist
        h2 Shopping List
        ul#cartlist
      .page.followlist
        h2 Follow List
        ul#waitlist
          li.follow-item 尚無收藏項目
    .nav-bar
      .home
        i.fas.fa-home
      #cart
        i.fas.fa-shopping-cart
        .num-cart 0
      #follow
        i.fas.fa-heart
  .top
    .microphone
    .camera
  .home-bar